.intro-section-style {
  padding: 16px;

  p {
    margin: 0;
  }
  a {
    color: black;
  }
}

.name-style {
  font-size: 1.2em;
  font-weight: 600;
}

.profile-picture-style {
  max-width: 300px;
  margin: 0 auto;

  img {
    border-radius: 50%;
  }
}

.section-title-style {
  border-bottom: 1px solid black;
  font-size: 1.2em;
  font-weight: 300;
}

.section-content-style {
  padding: 8px;
}

.content-list-style {
  font-size: 1.1em;
  li {
    margin-bottom: 8px;
  }
  p {
    margin: 0;
  }
  a {
    color: black;
  }
}

.publication-list-style {
  font-size: 1.0em;
  li {
    margin-bottom: 8px;
  }
  p {
    margin: 0;
  }
  a {
    color: black;
  }
}

.important-name-style {
  font-size: 1.2em;
  font-weight: 600;
}
